/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
.region-1, .region-2, .region-3, .region-4 {
  -webkit-transform: translateZ(0);
}

.Settings {
  -webkit-transform: translate3d(-100%, 0, 0);
}

.pos-0 .Settings {
  -webkit-transform: translate3d(0, 0, 0);
}
.pos-0 .region-1, .pos-0 .region-2, .pos-0 .region-3, .pos-0 .region-4 {
  -webkit-transform: translate3d(100%, 0, 0);
}

.pos-1 .region-1 {
  -webkit-transform: translate3d(0px, 0, 0);
}
.pos-1 .region-2, .pos-1 .region-3, .pos-1 .region-4 {
  -webkit-transform: translate3d(100%, 0, 0);
}

.pos-2 .region-1 {
  -webkit-transform: translate3d(-100%, 0, 0);
}
.pos-2 .region-2 {
  -webkit-transform: translate3d(0px, 0, 0);
}
.pos-2 .region-3, .pos-2 .region-4 {
  -webkit-transform: translate3d(100%, 0, 0);
}

.pos-3 .region-1, .pos-3 .region-2 {
  -webkit-transform: translate3d(-100%, 0, 0);
}
.pos-3 .region-3 {
  -webkit-transform: translate3d(0px, 0, 0);
}
.pos-3 .region-4 {
  -webkit-transform: translate3d(100%, 0, 0);
}

.pos-4 .region-1, .pos-4 .region-2, .pos-4 .region-3 {
  -webkit-transform: translate3d(-100%, 0, 0);
}
.pos-4 .region-4 {
  -webkit-transform: translate3d(100%, 0, 0);
}

@font-face {
  font-family: 'Hattori Hanzo';
  src: url("font/Hattori_Hanzo.otf");
}

body {
  font-family: 'Hattori Hanzo', sans-serif;
  margin: 0;
}

.region {
  -webkit-transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100%;
}

.view {
  width: 100%;
  height: 100%;
}
.view .navbar {
  height: 35px;
  font-size: 20px;
  text-align: center;
  color: #1c1d1e;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Settings {
  z-index: 999999;
  -webkit-transition: all 0.3s;
  background-color: #1c1d1e;
  color: #d3d1cc;
}
.Settings .navbar {
  color: #d3d1cc;
}

.MovieList .movie {
  float: left;
  width: 21%;
  margin: 6px;
  box-shadow: 1px 1px 5px #888;
}

.MovieList.view {
  -webkit-overflow-scrolling: touch;
}

.Movie.view .banner {
  height: 400px;
  width: 100%;
  overflow: hidden;
  box-shadow: 3px 2px 5px #888;
}
.Movie.view .row {
  border-top: 1px solid #9f9f9d;
  display: inline-block;
  overflow: hidden;
  clear: both;
}
.Movie.view .cell {
  padding: 13px;
  float: left;
  text-align: center;
  font-size: 8px;
  font-weight: 100px;
  color: #636363;
  border-left: 1px solid #9f9f9d;
}

.MovieInfo.view {
  -webkit-overflow-scrolling: touch;
}

.MovieInfo .banner {
  height: 200px;
  overflow: hidden;
  box-shadow: 3px 2px 5px #888;
  margin-bottom: 5px;
}
.MovieInfo .row1 {
  font-size: 25px;
  border-bottom: 1px solid #9f9f9d;
  margin-bottom: 5px;
}
.MovieInfo .row1 .cell {
  padding-left: 5px;
  display: inline-block;
}
.MovieInfo .row1 .cell1 {
  padding-right: 5px;
  border-right: 2px solid #9f9f9d;
}
.MovieInfo .row1 .cell2 {
  font-size: 15px;
}
.MovieInfo #plot {
  border: 1px solid #9f9f9d;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #2c3e50;
  padding: 5px;
  margin: 6px;
  font-size: 15px;
}
.MovieInfo .row3 {
  margin: 10px 0px;
  font-size: 25px;
  border-bottom: 1px solid #9f9f9d;
}
.MovieInfo .genre {
  color: #2980b9;
  margin: 3px;
  padding: 5px;
  clear: both;
  border-radius: 3px;
  border: 1px solid #9f9f9d;
  display: inline-block;
}
.MovieInfo .row5 {
  margin: 10px 0px;
  font-size: 25px;
  border-bottom: 1px solid #9f9f9d;
}
.MovieInfo .cast {
  color: #e74c3c;
  margin: 3px;
  padding: 5px;
  clear: both;
  border-radius: 3px;
  border: 1px solid #9f9f9d;
  display: inline-block;
}
