.region-1, .region-2, .region-3, .region-4 {
    display: none;
}

.Settings {
    -webkit-transform: translate3d(-320px, 0, 0);
}

.pos-0 {
    .Settings {
        -webkit-transform: translate3d(0, 0, 0);
    }
    .region-1, .region-2, .region-3, .region-4 {
        -webkit-transform: translate3d(320px, 0, 0);
    }
}

.pos-1 {
    .region-1 {
        -webkit-transform: translate3d(0px, 0, 0);
    }

    .region-2, .region-3, .region-4 {
        -webkit-transform: translate3d(320px, 0, 0);
    }
}

.pos-2 {
    .region-1 {
        -webkit-transform: translate3d(-320px, 0, 0);
    }

    .region-2 {
        -webkit-transform: translate3d(0px, 0, 0);
    }

    .region-3, .region-4 {
        -webkit-transform: translate3d(320px, 0, 0);    
    }
}

.pos-3 {
    .region-1, .region-2 {
        -webkit-transform: translate3d(-320px, 0, 0);
    }

    .region-3 {
        -webkit-transform: translate3d(0px, 0, 0);
    }

    .region-4 {
        -webkit-transform: translate3d(320px, 0, 0);    
    }
}

.pos-4 {
    .region-1, .region-2, .region-3 {
        -webkit-transform: translate3d(-320px, 0, 0);
    }

    .region-4 {
        -webkit-transform: translate3d(0px, 0, 0);
    }
}