.pos-0 {
    .Settings {
        -webkit-transform: translate3d(0, 0, 0);
    }
    .region-1 {
        -webkit-transform: translate3d(640px, 0, 0);    
    }
}

.pos-1 {
    .Settings {
        -webkit-transform: translate3d(-320px, 0, 0);
    }
    .region-1 {
        -webkit-transform: translate3d(0px, 0, 0);
    }
}

.pos-2 {
    -webkit-transform: translate3d(-640px, 0, 0);
}

.pos-3 {
    -webkit-transform: translate3d(-960px, 0, 0);
}