@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
    background-color: #1c1d1e;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.region {
    -webkit-transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100%;
}

.view {
    width: 100%;
    height: 100%;

    .navbar {
        height: 35px;
        font-size: 20px;
        text-align: center;
        color: #1c1d1e;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.Settings {
    z-index: 999999;
    -webkit-transition: all 0.3s;
    background-color: #1c1d1e;
    color: #d3d1cc;

    .navbar {
        color: #d3d1cc;
    }
}

.MovieList {

    .movie {
        float: left;
        width: 21%;
        // padding: 5px;
        margin: 6px;
        box-shadow: 1px 1px 5px #888;
    }
}


.MovieList.view {
    // overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.Movie {
    // overflow: auto;
    // -webkit-overflow-scrolling: touch;

    .banner {
        // // background: url("http://3.bp.blogspot.com/_Gg527Ymlqdw/TUkD4jQ_1aI/AAAAAAAAAOI/SYTE2TZilLQ/s1600/Despicable-Me-Poster.jpg");
        height: 400px;
        width: 100%;
        overflow: hidden;
        box-shadow: 3px 2px 5px #888;

        // .title {
        //     font-size: 25px;
        //     color: #d3d1cc;
        //     background-color: #1c1d1e;
        //     opacity: 0.8;
        //     position: absolute;
        //     // top: 380px;
        // }

        // .title {
        //     height: 20px;
        //     color: #d3d1cc;
        //     background-color: #1c1d1e;
        //     opacity: 0.8;
        //     font-size: 20px;
        //     font-weight: 300;

        //     position: relative;
        //     top: 190px;

        //     padding: 0px 10px;
        // }
    }

    .row {
        border-top: 1px solid #9f9f9d;
        display: inline-block;
        overflow: hidden;
        clear: both;
    }

    .cell {
        padding: 13px;
        float: left;
        text-align: center;
        font-size: 8px;
        font-weight: 100px;
        color: #636363;
        border-left: 1px solid #9f9f9d;
        // background-color: red;
    }

}










