@font-face {
    font-family: 'Hattori Hanzo';
    src: url('font/Hattori_Hanzo.otf');
}

body {
    font-family: 'Hattori Hanzo', sans-serif;
    margin: 0;
}

.region {
    -webkit-transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100%;
}

.view {
    width: 100%;
    height: 100%;

    .navbar {
        height: 35px;
        font-size: 20px;
        text-align: center;
        color: #1c1d1e;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.Settings {
    z-index: 999999;
    -webkit-transition: all 0.3s;
    background-color: #1c1d1e;
    color: #d3d1cc;

    .navbar {
        color: #d3d1cc;
    }
}

.MovieList {

    .movie {
        float: left;
        width: 21%;
        // padding: 5px;
        margin: 6px;
        box-shadow: 1px 1px 5px #888;
    }
}


.MovieList.view {
    // overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.Movie.view {
    // overflow: hidden;
    // -webkit-overflow-scrolling: touch;

    .banner {
        height: 400px;
        width: 100%;
        overflow: hidden;
        box-shadow: 3px 2px 5px #888;
    }

    .row {
        border-top: 1px solid #9f9f9d;
        display: inline-block;
        overflow: hidden;
        clear: both;
    }

    .cell {
        padding: 13px;
        float: left;
        text-align: center;
        font-size: 8px;
        font-weight: 100px;
        color: #636363;
        border-left: 1px solid #9f9f9d;
        // background-color: red;
    }

}

.MovieInfo.view {
    -webkit-overflow-scrolling: touch;
}

.MovieInfo {

    .banner {
        height: 200px;
        overflow: hidden;
        box-shadow: 3px 2px 5px #888;
        margin-bottom: 5px;
    }

    .row1 {
        font-size: 25px;
        border-bottom: 1px solid #9f9f9d;
        margin-bottom: 5px;

        .cell {
            padding-left: 5px;
            display: inline-block;
            
        }

        .cell1 {
            padding-right: 5px;
            border-right: 2px solid #9f9f9d;
        }

        .cell2 {
            font-size: 15px;
        }
    }

    #plot {
        border: 1px solid #9f9f9d;
        border-radius: 3px;
        box-shadow: 1px 1px 5px #2c3e50;
        padding: 5px;
        margin: 6px;
        font-size: 15px;
    }

    .row3 {
        margin: 10px 0px;
        font-size: 25px;
        border-bottom: 1px solid #9f9f9d;
    }
        
    .genre {
        color: #2980b9;
        margin: 3px;
        padding: 5px;
        clear: both;
        border-radius: 3px;
        border: 1px solid #9f9f9d;
        // box-shadow: 1px 1px 5px #2c3e50;
        display: inline-block;
    }

    .row5 {
    margin: 10px 0px;
    font-size: 25px;
    border-bottom: 1px solid #9f9f9d;
    }

    .cast {
    color: #e74c3c;
    margin: 3px;
    padding: 5px;
    clear: both;
    border-radius: 3px;
    border: 1px solid #9f9f9d;
    // box-shadow: 1px 1px 5px #2c3e50;
    display: inline-block;
    }
}










