<div class="navbar"><img src="img/logo.jpg" width="40%"></div>

<div class="banner">
    <img src="http://ptmac:8080/vfs/{{thumbnail}}" width="100%">
    <div class="title">{{label}}</div>
</div>

<div class="row row3">
    <div class="cell cell1">
        <div class="value">{{rating}}</div>
        <div class="field">Rating</div>
    </div>
    <div class="cell cell3">
        <div class="value"><img src="img/info.png"></div>
    </div>
</div>

<div class="row row3">
    <div class="cell cell1"><img src="img/trailer.png"></div>
    <div class="cell cell3"><img src="img/play.png"></div>
</div>