<!-- <div class="navbar">
    <a href="" class="js-back">
        <img src="img/menu.png" height="30px">
    </a>
    <img src="img/logo.jpg" height="30px">
</div> -->

<div class="banner">   
    <!-- <div class="title">{{label}}</div> -->
    <img src="{{thumbnail}}" width="100%">   
</div>

<div class="row row1">
    <div class="cell cell1 js-play">
        <div class="value"><img src="img/play.png"></div>
    </div>
    <div class="cell cell2 js-info">
        <div class="value"><img src="img/info.png"></div>
    </div>
    <div class="cell cell3">
        <div class="value"><img src="img/trailer.png"><a href=""></a></div>
    </div>
</div>

<!-- <div class="row row2">
    <div class="cell cell1"><img src="img/trailer.png"></div>
    <div class="cell cell3"><img src="img/play.png"></div>
</div> -->
